<div xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
         id="layout-navbar" th:fragment="navbar"
    >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center fw-bolder"
                     style="width: 700px;
                    justify-content: center;
                    font-size: 18px;
                    color: #696cff;">
                    <span>
                     Inventory Application</span>
                </div>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                        <!--                        <div class="avatar avatar-online">-->
                        <div class="avatar">

                            <img id="navImage1" alt="User" class="w-px-40 h-px-40 rounded-circle"/>

                            <script th:inline="javascript">
                                var imageUrl = '/imgfiles/' + [[${session.userId}]] + '.png';
                                fetch(imageUrl)
                                    .then(function (response) {
                                        if (response.ok) {
                                            document.getElementById('navImage1').src = imageUrl;
                                        } else {
                                            var defaultImageUrl = '/asset/images/blank1.png';
                                            document.getElementById('navImage1').src = defaultImageUrl;
                                        }
                                    })
                                    .catch(function (error) {
                                        alert('Error occurred: ' + error.message);
                                    });
                            </script>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar avatar-online">
                                            <img id="navImage2" alt="User" class="w-px-40 h-px-40 rounded-circle"/>

                                            <script th:inline="javascript">
                                                var imageUrl = '/imgfiles/' + [[${session.userId}]] + '.png';
                                                fetch(imageUrl)
                                                    .then(function (response) {
                                                        if (response.ok) {
                                                            document.getElementById('navImage2').src = imageUrl;
                                                        } else {
                                                            var defaultImageUrl = '/asset/images/blank1.png';
                                                            document.getElementById('navImage2').src = defaultImageUrl;
                                                        }
                                                    })
                                                    .catch(function (error) {
                                                        alert('Error occurred: ' + error.message);
                                                    });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="fw-semibold d-block" th:utext="${session.userName}"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/user/editprofile(id=${session.userId})}">
                                <i class="bx bx-image me-2"></i>
                                <span class="align-middle">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/user/change-password">
                                <i class="bx bx-lock-open-alt me-2"></i>
                                <span class="align-middle">Change Password</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/logout">
                                <i class="bx bx-power-off me-2"></i>
                                <span class="align-middle">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--/ User -->
            </ul>
        </div>
    </nav>
</div>